body {
    background-color: #f0f4f8;
    font-family: 'Arial', sans-serif;
}

.container {
    display: grid;
    place-items:center;
    padding: 20px;
}

.form-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 700px; /* Increase width to fit input fields and image preview */
    height: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-layout {
    display: flex;
    justify-content: space-between;
}

.form-left {
    width: 60%;
}

.form-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #555;
}

.input-field {
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 16px;
    width: 100%; 
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

textarea.input-field {
    resize: vertical; 
    height: 80px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploaded-image {
    width: 150px; /* Fixed width for image preview */
    height: 150px; /* Fixed height for image preview */
    border: 2px dashed #007bff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.placeholder {
    color: #007bff;
    font-weight: bold;
}

.preview-container {
    margin-top: 5px;
    /* display: flex; */
    justify-content: center;
}

.file-input {
    display: block; /* Hide default file input */
}

.upload-label {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    flex: 1;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
