<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/idcardpreview.css">

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/home.js"></script>
<title>Home</title>
</head>
<body>
<div>

	<div class="container">

		<div class="heading mt-0">
			<h1>Welcome to idify, Your Student Identity, Simplified</h1>
			<h4>Effortlessly, create and manage your Student ID cards for a
				Seamless Academic Experience</h4>
		</div>

		<div class="action-btns">
			<a class="btn btn-primary" href="/new_idcard">Create</a>
			<input type="search" id="search-btn" class="form-control search-btn">
		</div>

	</div>

	<div class="gallary" id="gallary"></div>
</div>
	

</body>
</html>