<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	
<link rel="stylesheet" href="css/idcardpreview.css">

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/idcardpreview.js"></script>
<meta charset="UTF-8">
<title>IdCard: Preview</title>
</head>
<body>

<div id="gallary">
    <div class="id-card">
        <div class="card-header">
            <img src="img/logo.png" alt="Company Logo" class="logo">
            <h2>Ginyard International School</h2>
        </div>
        <div class="profile-picture">
            <img src="img/logo.png" alt="Shawn Garcia" class="profile-img">
        </div>
        <h3 id="name">Komal Sharma</h3>
        <p class="title"><span id="class">Student</span></p>
        <div class="details">
            <p><strong>Roll No</strong>: <span id="rollNo">1234567890</span></p>
            <p><strong>Phone</strong>: <span id="phone">+123-456-7890</span></p>
            <p><strong>Address</strong>: <span id="address">Sector 62 Noida </span></p>
        </div>
        <div class="barcode">
            <!-- Barcode image or actual barcode generator -->
            <img src="img/barcode.png" alt="Barcode">
        </div>
    </div>
</div>

</body>
</html>